:root {
  /* 主题色 */
  --primary-color: #00b4dc;
  --primary-hover: #33c3e2;
  --primary-active: #0090b0;
  --primary-bg: rgba(0, 0, 0, 0.6);
  --backgrouend-tow: #142222a6;
  --backgrouend-one: #0c1319d9;
  --header-brackground: rgb(20, 31, 37);

  --text-primary: #fff;
  --text-secondary: rgba(255, 255, 255, 0.7);

  /* 边框颜色 */
  --border-default: rgba(255, 255, 255, 0.3);
  --border-light: rgba(255, 255, 255, 0.1);
  --border-active: rgba(255, 255, 255, 0.3);
  --border-radius: 2rem;

  /* 图表颜色 */
  --chart-green-normal: #275b38;
  --chart-green-light: #50c86d;

  /* 布局尺寸 */
  --screen-width: 5120px;
  --screen-height: 1440px;
  --content-padding: 0 4rem 4rem 4rem;

  /* 阴影 */
  --shadow-default: 0 0.4rem 1.2rem rgba(0, 0, 0, 0.2);
  --shadow-hover: 0 0.8rem 2.4rem rgba(0, 0, 0, 0.3);

  --bg-gradient: linear-gradient(to bottom, #3a804e, rgba(2, 34, 34, 0));
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
  width: 100vw;
  height: 100vh;
  overflow: scroll;
}

body {
  font-family:
    -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans',
    'Helvetica Neue', sans-serif;
  color: var(--text-default);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#app {
  margin: 0 auto;
  position: relative;
}
